.carousel-caption {
  text-align: left;
}
span.dot {
  line-height: 0.7;
  vertical-align: text-top;
}
footer {
  display: flex;
  position: relative;
  bottom: 0;
  padding: 100px;
}
#toTopBtn {
  text-align: right;
  width: 200px;
}
